@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sing-form {
    height: 110vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;

}

.sign-form h1{
 color: #3B39A9;
 font-weight: 800;
 font-size: 32px;
 line-height: 46px;
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 1rem;
 margin-top: 1rem;
}

.sign-form p {
  text-align: center;
  color: #131313;
  margin-bottom: 2.5rem;
  font-size: 24px;
}

.container{
    max-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background-color: #FAFAFA;
    padding: 50px;
    box-shadow: 5px 7px 15px 2px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
    margin-bottom: 2rem;
}

form.field  {
    position: relative;
    height: 10px;
    width: 100%;
    margin: 15px;
    color: rgba(19, 19, 19, 0.5);
}

.field button {
    background-color: #3B39A9; 
    font-size: 22px; 
    color: #fff;
    padding: 21px 69px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0px 0px 6px #121055;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.field input {
    border: 1px solid rgba(21, 21, 21, 0.5);;
    border-radius: 15px;
    padding: 0 15px;
    width: 574px;
    height: 70px;
    margin: 20px;
    outline: none;
    font-size: 20px;
}

.eye-icon {
    position: relative;
    top: 10%;
    right: 70px;
    font-size: 22px;
    color:black;
    color: rgba(19, 19, 19, 0.5);
    cursor: pointer;
}

.log p {
    color: rgba(19, 19, 19, 0.5);
    font-size: 18px;
}

.log a {
    color: #3B39A9;
    text-decoration: none;
}

.media a {
    display: flex;
    align-items: center;
    justify-content: center;
}
a.google,
a.facebook {
    color: rgba(238, 238, 238, 0.8);
    background: #131313;
    border: 1px solid rgba(21, 21, 21, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0 15px;
    width: 574px;
    height: 70px;
    font-size: 24px;
    text-decoration: none;
    margin: 35px;
}
.facebook-icon ,
img.google-img{
    position: relative;
    top: 45%;
    left: -210px;
    transform: translateY(-50%);
}
.facebook-icon {
    padding-bottom: 5px;
}