* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 47.4%, #5C97CE 99.99%, #FFFFFF 100%);
    padding: 20px;
}

ul {
    list-style-type: none;
}

.navbar .logo {
    font-size: 64px;
    font-weight: 700;
}

.navbar a {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

li {
    background-color: #3B39A9;
    border: 1px solid;
    margin: 5px;
    padding: 10px;
    width: 247px;
    text-align: center;


}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.logo {
    padding-top: 13px;
}

.navbar ul {
    display: flex;
}

.head {
    color: #3B39A9;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    text-align: center;
}

.head-2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.section {
    border: solid 2px #455A64;
    width: 70%;
    margin: auto;
    margin-top: 20px;

}

.section-2 {
    padding: 40px;
}


input {
    border: 1px solid #A8A8A3;
    border-radius: 10px;
    padding: 20px 16px;
    width: 700px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 10px 0;
}

.msg {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 700px;
    height: 166px;
    border-radius: 10px;
    border: 1px solid #A8A8A3;
    padding: 20px 16px;
    font-size: 16px;
    color: #A8A8A3;
}

.btn {
    width: 107px;
    height: 65px;
    color: #FAFAFA;
    padding: 18px;
    background: #3B39A9;
    border: 1px solid #A8A8A3;
    border-radius: 10px;
    align-self: flex-end;
}

label {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;

}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}

footer {
    width: 1200px;
    
}

.chunk .p{
    font-weight: 500;
    padding: 20px;
    font-size: 12px;
}

.contact {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.resources {
    font-weight: 400;
    font-size: 20px;
}

.socials {
    font-size: 20px;
    text-align: center;
   
}

.socials img {
  margin-left: 20px;
  padding: 30px 0 30px 0;
}

.copy {
    padding-left: 70px;
}