@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #fafafa;
    mix-blend-mode: darken;
  }
  
  nav .imagelogo {
    width: 190px;
  }
  
  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-left: 5%;
    margin: 10px 0 40px 0;
  }
  nav ul li {
    display: inline-block;
    padding: 0px 25px;
    list-style: none;
  }
  
  nav ul li a {
    color: #131313;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .menu:hover {
    color: #3b39a9;
  }
  
  nav ul li .light-blue {
    border: 1px solid #3b39a9;
    font-size: 20px;
    color: #3b39a9;
    padding: 17px;
    border-radius: 6px;
  }
  nav ul li .blue {
    background-color: #3b39a9;
    font-size: 22px;
    color: #fff;
    padding: 15px 45px;
    box-shadow: 0px 0px 6px #121055;
    border-radius: 15px;
    border: none;
  }

.head {
    color: #3B39A9;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    line-height: 39px;
    align-items: center;
    text-align: center;
    margin:20px;
}

.head-2 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.section {
    border: solid 2px #FFFFFF;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 22px;
    background-color: #FFFFFF;
    box-shadow: 5px 7px 15px 2px rgba(0, 0, 0, 0.15);

}

.section-2 {
    padding: 40px;
}


input {
    border: 1px solid #A8A8A3;
    border-radius: 10px;
    padding: 20px 16px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 10px 0;
}

.msg {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 700px;
    height: 166px;
    border-radius: 10px;
    border: 1px solid #A8A8A3;
    padding: 20px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #A8A8A3;
    margin: 10px 0 10px 0;
}

.btn {
    width: 107px;
    height: 65px;
    color: #FAFAFA;
    padding: 18px;
    background: #3B39A9;
    border: 1px solid #A8A8A3;
    border-radius: 10px;
    align-self: flex-end;
    cursor: pointer;
}

label {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    text-align: right;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

footer {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 16px;
    color: #000000;
    padding: 40px;
}

#contact li {
    background-color: #FFFFFF;
    color: #3B39A9;
    border: 1px solid #3B39A9;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 .logo {
    display: none;
 }

 ul {
    margin-left: 200px;
}

.navbar a {
    font-size: 11px;
}

li {
    margin: 5px;
    width: 127px;
}

.section {
    width: 690px;
}
input{
    width: 600px;
}
textarea {
    width: 600px;
    height: 255px;
}
.msg {
    flex-direction: column;
}

.btn {
    align-self: center;
    width: 287px;
}
}
