nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    background-color: #3b39a9;
    margin-right: 15px;
    width: 210px;
    padding: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
  }