* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 47.4%, #5C97CE 99.99%, #FFFFFF 100%);
  padding: 20px;
}

#tableofcont{
  font-size: 15px;
}

#intro h1{
  text-align: center;
  margin: 20px 0px ;
}

section{
  margin-left: 70px;
}

p{
  margin: 10px 0;
}

#tableofcont a{
  text-decoration: none;
}

#tableofcont ul, #gettingstarted ul{
  margin-left: 30px;
}

#tableofcont{
  margin-bottom: 80px;
}

p{
  width: 50%;
}