* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Login-form {
    height: 100vh;
}
.Login-form h1{
 color: #3B39A9;
 font-weight: 800;
 font-size: 32px;
 line-height: 46px;
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 1rem;
 margin-top: 1rem;
}
.Login-form p {
  text-align: center;
  color: #131313;
  margin-bottom: 2.5rem;
  font-size: 24px;
}

.container{
    max-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background-color: #fff;
    padding: 40px;
    box-shadow: 5px 7px 15px 2px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
}
form .field  {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 10px;
    color: rgba(19, 19, 19, 0.5);
}
.field button {
    background-color: #3B39A9; 
    font-size: 22px; 
    color: #fff;
    padding: 21px 69px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px #121055;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.field input {
    background: #FAFAFA;
    border: 1px solid #151515;
    border-radius: 15px;
    padding: 0 15px;
    width: 574px;
    height: 70px;
    margin: 10px;
    outline: none;
    font-size: 20px;
}
.eye-icon {
    position: relative;
    top: 10%;
    right: 70px;
    font-size: 22px;
    color:black;
    color: rgba(19, 19, 19, 0.5);
    cursor: pointer;
}
.media a {
    display: flex;
    align-items: center;
    justify-content: center;
}
a.google,
a.facebook {
    color: rgba(21, 21, 21, 0.8);
    background: #151515;
    border: 1px solid #151515;
    border-radius: 15px;
    padding: 0 15px;
    width: 574px;
    height: 70px;
    font-size: 24px;
    text-decoration: none;
    margin: 35px;
}
.facebook-icon ,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img .google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google,
a.facebook span {
    color: #fff;
}