@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 47.4%, #5C97CE 99.99%, #FFFFFF 100%);
    height: 100vh;
 
  }

  nav .image {
    top: -5px;
    margin-left: -95px;
  }

  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-left: 5%;
    margin: 10px 0 40px 0;
}
nav ul li {
    display: inline-block;
    padding: 0px 25px;
    list-style: none;
}

nav ul li a {
    color: #131313;
    font-size: 20px; 
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.menu:hover{
  color: #3B39A9;
}

nav ul li .light-blue {
  border:1px solid #3B39A9;  
  font-size: 20px; 
  color: #3B39A9;
  padding: 17px;
  border-radius: 6px;
}
nav ul li .blue {
    background-color: #3B39A9; 
    font-size: 22px; 
    color: #fff;
    padding: 15px 45px;
    box-shadow: 0px 0px 6px #121055;
    border-radius: 15px;
    border: none;
}

/* main */
.intro{
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.intro h1 {
  color: #3B39A9;
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}

.intro p {
  text-align: center;
  color: #4C0C0C;
  padding-bottom: 5rem;
}

.register {
  background: #3B39A9;
  box-shadow: 0px 0px 6px #121055;
  border-radius: 25px;
  color: #fff;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 20px;
}

/* doc */
.doc {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3B39A9;
  margin-bottom: 60px;
  text-align: center;
}
.doc h1 {
  margin-left: 20px;
  font-size: 24px;
}

/* review */
.review {
  height: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;

}
.reviews {
 background: #FAFAFA; 
 box-shadow: 5px 7px 15px 2px rgba(0, 0, 0, 0.15);

}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.anonymous {
  height: 250px;
  width: 255px;
  padding: 10px 15px;
  background: #FAFAFA;
  border-radius: 10px;
  box-shadow: #131313;
  border: 1px solid #FAFAFA;
  margin: 25px;
}
.reviews h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #3B39A9;
  padding-top: 3rem;
}

.reviews h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3B39A9;
  padding: 0.5em 1em;
  
}
.reviews p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.6px;
  color: #131313;
 
}

.team{
  
  display: inline-flexbox;
  justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 200px;
    padding-bottom: 15px;
  }