@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #fafafa;
  mix-blend-mode: darken;
}

nav .imagelogo {
  width: 190px;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 5%;
  margin: 10px 0 40px 0;
}
nav ul li {
  display: inline-block;
  padding: 0px 25px;
  list-style: none;
}

nav ul li a {
  color: #131313;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.menu:hover {
  color: #3b39a9;
}

nav ul li .light-blue {
  border: 1px solid #3b39a9;
  font-size: 20px;
  color: #3b39a9;
  padding: 17px;
  border-radius: 6px;
}
nav ul li .blue {
  background-color: #3b39a9;
  font-size: 22px;
  color: #fff;
  padding: 15px 45px;
  box-shadow: 0px 0px 6px #121055;
  border-radius: 15px;
  border: none;
}

/* main */
.hero {
  padding: 10px;
  max-width: 1000px;
  margin: 90px auto;
  text-align: center;
}

.hero h1 {
  color: #3b39a9;
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.p1 {
  color: #4c0c0c;
  margin-bottom: 5%;
}

.reg-btn {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-image: none;
  border-style: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  justify-content: center;
  line-height: 24px;
  margin: 0 0 40px;
  min-height: 69px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 233px;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .reg-btn {
    padding: 19px 32px;
  }
}

.reg-btn:before,
.reg-btn:after {
  border-radius: 80px;
}

.reg-btn:before {
  background-color: #121055;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.reg-btn:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #3b39a9 0, #0e0c49 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.reg-btn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.reg-btn:active:not(:disabled) {
  color: #ccc;
}

.reg-btn:active:not(:disabled):after {
  background-color: #121055;
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.reg-btn:disabled {
  cursor: default;
  opacity: 0.24;
}

.doc a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc a h3 {
  color: #3b39a9;
}

.doc a i {
  font-size: 45px;
  color: #3b39a9;
}

.doc:hover {
  cursor: pointer;
}
